extends ../layout

block content

  h1(class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl mb-5 text-balance")= title

  p(class="text-lg lg:text-2xl my-6") #[strong Do you really want to delete this BookInstance?]

  div(class="ml-5 mt-5 space-y-3")

    p #[strong ID]: #{bookinstance.id}

    p #[strong Title: ]
      a(href=bookinstance.book.url class="link link-primary link-hover text-lg") #{bookinstance.book.title}

    p #[strong Imprint:] #{bookinstance.imprint}

    p #[strong Status: ]
      if bookinstance.status=='Available'
        span(class="badge badge-success badge-outline uppercase") #{bookinstance.status}
      else if bookinstance.status=='Maintenance'
        span(class="badge badge-error badge-outline uppercase")  #{bookinstance.status}
      else
        span(class="badge badge-warning badge-outline uppercase")  #{bookinstance.status}

    if bookinstance.status!='Available'
      p #[strong Due back:] #{bookinstance.due_back_formatted}

  form(method='POST' class="mt-6")
    div
      input#id(type='hidden',name='id', value=bookinstance.id )

    button(type='submit' class="btn btn-error uppercase") Delete