extends layout

block content
  div.hero.p-5.mb-4.text-center.rounded-3.shadow
    div
      div.d-flex.justify-content-center.align-items-center.h-100
        div.text-white
          h1.display-1 Express Library
          p.lead.fs-4.fw-semibold
            | Welcome to 
            em Express Library
            | , your local hub for knowledge, learning, and community connection.

  h2(class="mb-3") Catalog Records

  p The library has the following record counts:

  ul(class="list-group list-group-flush")
    li(class="list-group-item border-0") #[strong Books:] !{book_count}
    li(class="list-group-item border-0") #[strong Copies:] !{book_instance_count}
    li(class="list-group-item border-0") #[strong Copies available:] !{book_instance_available_count}
    li(class="list-group-item border-0") #[strong Authors:] !{author_count}
    li(class="list-group-item border-0") #[strong Genres:] !{genre_count}
