extends ../layout

block content
  h1(class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl mb-5")= title

  form(method='POST' class="space-y-8")
    div
      label(for="title" class="block mb-1.5") Title:
      input(type="text" id="title" class="input input-bordered input-primary w-full max-w-2xl" placeholder='Name of book' name="title" value=(undefined===book ? '' : book.title)  required)
      
      if errors
        for error in errors 
          if error.path[0] === "title"
            p(class="text-error") #{error.message}

    div
      label(for='author' class="block mb-1.5") Author:
      select(id="author" class="select select-primary w-full max-w-2xl" name='author' required)
        option(value='') --Please select an author--
        for author in authors
          if book
            if author.id === book.author.id
              option(value=author.id selected) #{author.name}
            else
              option(value=author.id) #{author.name}
          else
            option(value=author.id) #{author.name}
      if errors 
        for error in errors 
          if error.path[0] === "authorId"
            p(class="text-error") #{error.message}
    
    div
      label(for="summary" class="block mb-1.5") Summary:
      textarea(class="textarea textarea-primary w-full max-w-2xl" id="summary" placeholder="Summary" name="summary" rows="6" required)= undefined===book ? '' : book.summary
      

    div
      label(for="isbn" class="block mb-1.5") ISBN:
      input(type="text" id="isbn" class="input input-bordered input-primary w-full max-w-2xl" placeholder='ISBN13' name="isbn" value=(undefined===book ? '' : book.isbn)  required)
      

    div
      label(class="block mb-1.5") Genre:
      div(class="flex flex-wrap space-x-5 text-balance")
        for genre in genres
          if book && book.genres && book.genres.some(g => g.id === genre.id)
            div(class="flex items-center")
              input(type="checkbox" name="genre" class="checkbox checkbox-primary mr-1" id=genre.id value=genre.id checked)
              label(for=genre.id) &nbsp;#{genre.name}
          else
            div(class="flex items-center")
              input(type="checkbox" name="genre" class="checkbox checkbox-primary mr-1" id=genre.id value=genre.id)
              label(for=genre.id class="text-balance") &nbsp;#{genre.name}
    button(type="submit" class="btn btn-primary uppercase") Submit

  if errors
    ul(class="list-group list-group-light")
      for error in errors
        li(class="list-group-item")!= error.message
